.capa{
    background-color: #1f3d7a;
}

.fundo{
    background-color: #ffffff;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1%;
    border-style: solid;
    border-width: 1.25px;
    border-color: #00ace6;
}

.foot{
    background-color: #2A2B2E;
    color: #ffffff;

}